body {
  margin: 0;
  padding: 0;
  background-color: #00297a;
  background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");
}

header {
  width: 100%;
  height: 7vh;
  background: whitesmoke;
  overflow: hidden;
  position: sticky;
  top: 0;
  transition: all 0.3s ease; /* other css rules here */
}

.headerElementsResp {
  display: none;
}

.logo {
  float: left;
}

.logo > img {
  margin: 10px;
  height: 35px;
}

.headerElements {
  float: right;
  display: flex;
  margin-right: 35px;
}

.menu-icon {
  display: none;
}

.resp {
  display: none;
}

.headerElements > li {
  list-style: none;
  margin: 18px;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

.section {
  display: flex;
  height: 40rem;
  align-items: center;
  margin: 0px 30px;
  overflow: hidden;
}

.right {
  margin-right: 7rem;
}

.right > img {
  width: 60%;
  float: right;
}

.left {
  margin-left: 5rem;
  float: left;
  width: 50%;
}

.left > p {
  color: white;
  font-size: 1.6rem;
  font-family: "Roboto Mono", monospace !important;
  text-transform: none !important;
  font-weight: 400 !important;
}

.name {
  color: purple;
  font-size: 5rem;
}

.home-btn {
  pointer-events: all;
  background: transparent;
  color: #fff;
  border: 0.1rem solid #fff;
  height: 3.5rem;
  width: 190px;
  max-width: 100%;
  appearance: button;
}

.home-btn:hover {
  border-radius: 8px;
  cursor: pointer;
  color: greenyellow;
  border-top: 0.1rem solid rgb(232, 83, 29);
  border-right: 0.1rem solid rgb(232, 83, 29);
  border-bottom: 0.1rem solid rgb(242, 159, 173);
  border-left: 0.1rem solid rgb(242, 159, 173);
}

.home-btn > span {
  color: white;
  font-size: 0.85rem;
  line-height: 2.8rem;
}

.about {
  height: 35rem;
  background: #fff;
}

.about-container {
  display: flex;
  flex-direction: column;
  margin: 3rem 15rem 3rem 15rem;
}

.title > h2 {
  font-size: 2.5rem;
  color: rgb(239, 65, 45);
  font-family: "Roboto Mono", monospace !important;
}

.content > p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.exp-cont {
  height: 30rem;
  background: #fff;
}

.section-exp {
  display: flex;
  flex-direction: column;
  margin: 0rem 15rem 3rem 15rem;
}

.skills {
  height: 43rem;
  background: #fff;
  margin-top: -3rem;
}

.skills-cont {
  height: 25rem;
  margin: 0rem 7rem 3rem 7rem;
}

.s-title > h2 {
  font-size: 2.5rem;
  margin-left: 8rem;
  color: rgb(239, 65, 45);
  font-family: "Roboto Mono", monospace !important;
}

.logos-cont {
  display: flex;
  flex-direction: column;
  margin: 4rem 0rem 0rem 7rem;
}

.logos {
  width: 100%;
  height: 8rem;
  display: flex;
  margin-bottom: 3rem;
}

.logo1 {
  width: 24%;
  height: 7rem;
}

.logo1 > img {
  width: 80%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.logos-contResp {
  display: none;
}
.project {
  height: 115rem;
  background: transparent;
}

.Projects-container {
  display: flex;
  flex-direction: column;
  margin: 0rem 7rem 3rem 7rem;
}

.pro-cont {
  height: 35rem;
  overflow: hidden;
}

.p-title > h2 {
  font-size: 2.5rem;
  margin-left: 8rem;
  color: rgb(239, 65, 45);
  font-family: "Roboto Mono", monospace !important;
}

.p-left {
  float: left;
  height: 30rem;
  margin: 2rem 0 2rem 2rem;
  width: 30%;
}

.p-right {
  float: right;
  margin: 2rem 2rem 2rem 0rem;
  height: 30rem;
  width: 60%;
}

.p-right > img {
  height: 27rem;
  width: 100%;
  /* transform: scale(1);
  transition: transform 0.3s ease-in-out; */
}

.img:hover {
  cursor: pointer;
  /* transform: scale(1.2); */
}

.p-desc {
  color: whitesmoke;
  font-size: 1.2rem;
  margin-left: 6rem;
}

.h3 {
  margin-left: 6rem;
  color: #f5f5dc;
}

.ul {
  margin-left: 4.2rem;
}

.li {
  margin: 1rem;
  color: whitesmoke;
}
.btn-p {
  background: transparent;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  font-size: 0.8rem;
  height: 2.5rem;
  margin-left: 6rem;
  margin-top: 2rem;
}
.btn-p:hover {
  cursor: pointer;
  color: aquamarine;
  border: 2px solid aquamarine;
  border-radius: 5px;
}
.contact {
  background-color: #fff;
  margin-top: 10rem;
}
.contact-cont {
  display: flex;
  height: 48rem;
  margin: 2rem 0 2rem 2rem;
  overflow: hidden;
}
.cont-left {
  float: left;
  width: 60%;
}
.cont-right {
  float: right;
  width: 30%;
}

.h4 {
  margin-left: 12rem;
  font-size: 3rem;
  line-height: 5.3rem;
  margin-bottom: 3rem;
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
}
.cont-btn {
  margin-left: 12rem;
  pointer-events: all;
  background: transparent;
  border: 1px solid rgb(33, 37, 41);
  height: 3.5rem;
  width: 190px;
  max-width: 100%;
  appearance: button;
}
.cont-btn:hover {
  color: rgb(74, 238, 74);
  border: 1px solid rgb(74, 238, 74);
  cursor: pointer;
  border-radius: 6px;
}

.cont-btn > span {
  font-size: 0.85rem;
  line-height: 2.8rem;
}

.social {
  margin: 5rem;
}

.getInTouch {
  padding: 1rem;
}

.soc-name {
  margin-top: -25px;
  margin-left: 2rem;
  font-size: 1rem;
}

.soc-btn {
  background: transparent;
  border: none;
  text-align: center;
}
.soc-btn:hover {
  color: whitesmoke;
  background-color: orangered;
  border: 1px solid black;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background: #fff;
  color: black;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
}

.para > p {
  padding: 3px;
  margin-bottom: 16px;
}

.form {
  width: 120%;
  height: 25rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  margin: 2rem 3rem 0 11rem;
}

.names {
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem 0.7rem 1rem;
}

.names > input {
  width: 48%;
  border: 2px solid black;
  height: 1.5rem;
}

.mail {
  display: flex;
  flex-direction: row;
  margin: 0rem 1rem 0.7rem 1rem;
}

.mail > input {
  width: 48%;
  border: 2px solid black;
  height: 1.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem 0.7rem 1rem;
}

.info > input {
  width: 98.3%;
  border: 2px solid black;
  margin: 0rem 0rem 0.7rem 0rem;
  height: 1.5rem;
}
.info > textarea {
  margin-bottom: 0.7rem;
  width: 98.3%;
  border: 2px solid black;
}

.btns {
  display: flex;
}

.form-btn {
  width: 7rem;
  height: 2rem;
  margin: 0.4rem 0rem 0rem 1.1rem;
}

.send:hover {
  cursor: pointer;
  background: greenyellow;
}

.close:hover {
  cursor: pointer;
  background: red;
}
